---
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/basics/" />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="/basics/" />
    <title>Redirecting to Basics</title>
  </head>
  <body>
    <a href="/basics/">Redirecting to Basics</a>
  </body>
</html>
